table, th, td {
  border-radius: 8px;
}
td:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.tdDefault{
  width: 50px;
  height: 50px;
  text-align: center;
}
.outsetBorder{
  border-style: outset;
}
.insetBorder{
  border-style: inset;
  background-color: gainsboro;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
.menu{
  text-align: left;
  margin: 5px;
}
div.menu:hover {
  background-color: lightgray;
  cursor: pointer;
}
.red{
  color: red !important;
}
.failedSpot{
  background-color: red;
}
.right-red-flag{
  background-color: lightgreen;
}
.wrong-red-flag{
  background-color: lightcoral;
}
.right-question-flag{
  background-color: lightskyblue;
}
.wrong-question-flag{
  background-color: lightsalmon;
}
.fixed-padding{
  padding-top: 7px !important; 
  padding-bottom: 7px !important;
}
.color-board{
  padding: 5px;
}

.dropbtn {
  background-color: lightgrey;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: lightslategray;
}